body {
  background: #212529;
}

h1 {
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 46px;
    text-align: center;
}

h3 {
  color: #18d26e;
  font-size: 24px;
  text-align: center;
}

.container textarea {
  background-color: Wheat;
  border-color: #18d26e;
  box-shadow: 0 0 10px #18d26e;
  border-radius: 12px

}

.container button {
  background-color: #18d26e;
  color: black;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
}
