<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title>Bias Detector</title>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    		<script type=text/javascript>
    			$(function() {
    			  $('a#process_input').bind('click', function() {
    				$.getJSON('/background_process', {
    				  jobInput: $('#jI').val(),
    				}, function(data) {
            $("#bias").text(data.result['bias']);
            $("#words").text(data.result['words']);
            $("#malePercent").text(data.result['malePercent']);
            $("#femalePercent").text(data.result['femalePercent']);
            $("#raciallyInsensitivePercent").text(data.result['raciallyInsensitivePercent']);

    				});
    				return false;
    			  });
    			});
    		</script>

</head>
<body>

  <header>
    <!-- site-wide header -->
    <h1> Job Scanner for Bias </h1>
  </header>

  <main>
    <!-- this page’s main content -->

        <div class='container'>

    		<h3>Welcome! Please Input Your Job Description </h3>
    			<form>
    				<textarea rows="30" cols="60" name=jobInput id=jI></textarea>
          </form>

          <a href=# id=process_input><button class='btn btn-default'>Submit</button></a>

    		<p id=result></p>
        <p id=bias></p>
        <p id=words></p>
        <p id=malePercent></p>
        <p id=femalePercent></p>
        <p id=raciallyInsensitivePercent></p>

    		</div>

</html>
