<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Bias Detector</title>

</head>
<body>

  <header>
    <!-- site-wide header -->
    <h1> Job Scanner for Bias </h1>
  </header>

  <main>
    <!-- this page’s main content -->

    		<h3>Welcome! Please Input Your Job Description </h3>


        <div class='container_row'>
          <form role="form" method='POST' action='/' name="jobInputPOST" id="jobInputPOST">
            <div align="center">
              <textarea rows="30" cols="60" name=jobInput2 form="jobInputPOST" placeholder="Input job description here..."></textarea>
            </div>

            <div align="center">
              <button class='btn btn-default' form="jobInputPOST">Submit</button>
            </div>

          </form>
        </div>


        <div align="center">
          {% if results %}
            <h3>Scanned Results:</h3>
            <div id="results" align="center" >
              <table id="table" style="font-size:24px;color:navajowhite">
                {% for result in results%}
                  <tr>
                    <td> {{ results[result] }} </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>


</html>
